.superRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-div{
    background-color: rgb(240, 240, 240);
    width: 80%;
    max-width: 800px;
    padding: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-register{
    margin: 0px;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redirect{
    margin: 20px;
}